@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
}

    <!-- Banner -->
    <section id="banner">
        <h1>Welcome</h1>
        <p></p>
    </section>

    <!-- One -->
    <section id="one" class="home wrapper">
        <div class="inner">
            <div class="flex flex-3">
                <article>
                    <header>
                        <h3>Responsive Site built on MVC pattern</h3>
                    </header>
                    <p>This site is fully responseive, built with ASP.NET running on ASP.NET Core, routed to and hosted at my house using free DNS routing.  Please take a look in a mobile viewer and check out my resume! </p>
                    <footer>
                        <a href="~/Resume" class="button special">More</a>
                    </footer>
                </article>
                <article>
                    <header>
                        <h3>Leave a comment on the message board!</h3>
                    </header>
                    <p>Comments are saved to a local database and displayed back to the world!  Leave a meaage, you know you want to!</p>
                    <footer>
                        <a href="~/Comments" class="button special">More</a>
                    </footer>
                </article>
                <article>
                    <header>
                        <h3>My Family.</h3>
                    </header>
                    <p>Below is my family.  Put a face to my name and those that are important to me! </p>
                    <footer>
                        <a href="#family" class="button special">More</a>
                    </footer>
                </article>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="family" class="wrapper style1 special">
        <div class="inner">
            <header>
                <h2>My Family</h2>
                <!--p>That's us</p-->
            </header>
            <div class="flex flex-4">
                <div class="box person">
                    <div class="image round">
                        <img src="~/images/1.JPG" alt="Person 1" />
                    </div>
                    <h3>That's Me</h3>
                    <p>Daniel</p>
                </div>
                <div class="box person">
                    <div class="image round">
                        <img src="~/images/2.JPG" alt="Person 2" />
                    </div>
                    <h3>My Wonderful Wife</h3>
                    <p>Chandra</p>
                </div>
                <div class="box person">
                    <div class="image round">
                        <img src="~/images/3.jPG" alt="Person 3" />
                    </div>
                    <h3>My Buddy</h3>
                    <p>Astrid</p>
                </div>
                <div class="box person">
                    <div class="image round">
                        <img src="~/images/4.JPG" alt="Person 4" />
                    </div>
                    <h3>Ms. Purrs Alot</h3>
                    <p>Myla</p>
                </div>
                <div class="box person">
                    <div class="image round">
                        <img src="~/images/5.JPG" alt="Person 5" />
                    </div>
                    <h3>Oscar The Grouch</h3>
                    <p>Gizmo</p>
                </div>
            </div>
        </div>
    </section>

    @*<!-- Three -->
    <section id="three" class="wrapper special">
        <div class="inner">
            <header class="align-center">
                <h2>Nunc Dignissim</h2>
                <p>Aliquam erat volutpat nam dui </p>
            </header>
            <div class="flex flex-2">
                <article>
                    <div class="image fit">
                        <img src="~/images/pic01.jpg" alt="Pic 01" />
                    </div>
                    <header>
                        <h3>Praesent placerat magna</h3>
                    </header>
                    <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
                    <footer>
                        <a href="#" class="button special">More</a>
                    </footer>
                </article>
                <article>
                    <div class="image fit">
                        <img src="~/images/pic02.jpg" alt="Pic 02" />
                    </div>
                    <header>
                        <h3>Fusce pellentesque tempus</h3>
                    </header>
                    <p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
                    <footer>
                        <a href="#" class="button special">More</a>
                    </footer>
                </article>
            </div>
        </div>
    </section>*@ 