@{
    ViewBag.Title = "Resume";
}

<div class="inner padTop">
    <!--h1>Daniel Wilkerson</h1-->
    <h2><strong><u>Skills</u></strong></h2>
    <ul>
        <li>Programming Vocabulary: Java, PHP, HTML, CSS, LESS, jQuery/JavaScript, MySQL, C# .NET, OpenScad</li>
        <li>CMS Experience: Joomla!, Agile Ticketing Solutions Platform, WordPress</li>
        <li>OS Experience: Windows, Linux, Debian, mint, OSX, android, iOS</li>
        <li>Fluent in Microsoft Office Products: Outlook, Excel, Word, PowerPoint, etc.</li>
        <li>Network Setup and Configuration: DHCP, Static IP, DNS, WAN, LAN, Firewall, NAT, WOL, VPN, SSH, VNC, FTP, client/server applications.</li>
        <li>Amateur Graphics Design: GIMP (GNU Image Manipulation Program)</li>
    </ul>
    <h2><strong><u>Work History</u></strong></h2>
    <p><strong>VSCC Financial Aid - Application Support Specialist August 1 2016 &ndash; Current</strong></p>
    <p>&nbsp;<strong><u></u></strong>My role is to serve as liaison between the financial aid department and IT. I continually write SQL based reports and build them into Argos for other users on campus. I developed an application to help with data analysis using both data extracted from Banner and data retrieved from state and federal sources. Also, I setup process flows to automate some of the daily banner business processes using Automic, a programmatic scheduling tool.</p>
    <p><strong>Sumner County Schools - Content Manger November 2015 &ndash; July 28 2016</strong></p>
    <p>&nbsp;<strong><u></u></strong>My core responsibility was to manage website content for schools in the Sumner County school district. As part of this responsibility, I coordinated with and trained specific members at each school on how to manage content for their school's website. Not only did I enhance the Sumner County Schools&rsquo; website template to better tie into the Joomla backend, but I also extended the capabilities of the core template to allow customization and responsiveness for each individual school's website utilizing PHP, HTML, CSS, LESS, jQuery/JavaScript. With this enhanced template, I created several dozen individual school websites including ges.sumnerschools.org, hms.sumnerschools.org, wbe.sumnerschools.org, and phs.sumnerschools.org.</p>
    <p><strong>Agile Ticketing Solutions - Application Developer May 2014 &ndash; November 2015</strong></p>
    <p>&nbsp;<strong><u></u></strong>My responsibility roles included technician, system administrator, web developer, software developer, and client support. I assisted the support team with setup issues. I helped identify bugs and debug the application. I provided technical assistance for clients and other members within the organization on a daily basis. I worked with jQuery/JavaScript, HTML, and CSS to modify 'web skins' for clients to achieve specific functionality and to match the look and feel of their brochure sites. I was responsible for keeping SSL certificates up to date and took on developmental tasks of code enhancements under the direction of my senior software developers.</p>
    <p><strong>Sumner County Schools - Technology Support August 2013 &ndash; May 2014</strong></p>
    <p>&nbsp;<strong><u></u></strong>I was a jack of all trades computer technician for Sumner County Schools. I floated between 46 locations assisting other technicians with the day in and day out process of keeping all technology devices up and running. I also assisted with receiving, configuring, and distributing all new devices throughout the county.&nbsp;</p>
    <p><strong>Emdeon - Implementation Specialist II / Programmer August 2012 &ndash; August 2013</strong></p>
    <p><strong>2 Tech Guys - Joint Owner May 2011- August 2012</strong></p>
    <p><strong>Sumner County Schools - Substitute Teacher August 2010 &ndash; May 2011</strong></p>
    <h2><strong><u>Education</u></strong></h2>
    <p><strong>Bachelor of Science in Mathematics; Minor in Computer Science</strong>
        <ul>
            <li>Tennessee Tech University, Cookeville TN </li>
            <li>Summa Cum Laude &ndash; Class of 2010 </li>
        </ul>
    </p>
    <p><strong>Associate Degree in Math and Science</strong>
        <ul>
            <li>Volunteer State Community College, Gallatin TN</li>
            <li>Outstanding Graduate Award &ndash; Class of 2007</li>
        </ul>
    </p>
</div>