<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <ul class="icons">
                <li><a href="https://www.facebook.com/profile.php?id=100004734346034" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.linkedin.com/in/daniel-wilkerson-a5415375/" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
            </ul>
        </div>
    </div>
</footer>