@*<header id="header">
    <div class="inner">
        <a href="~/index" class="logo">Daniel Wilkerson</a>
        <nav id="nav">*@
            @*<!--a asp-controller="App" asp-action="Index">Home</a-->
            <!--a asp-controller="App" asp-action="Resume">Resume</a-->
            <!--a asp-controller="App" asp-action="Contact">Contact</a-->*@
            @*<a href="~/">Home</a>
            <a href="~/Resume">Resume</a>
            <a href="~/Comments">Comments</a>
            <a href="~/Contact">Contact</a>*@
            @*<a href="~/Hobbies">Hobbies</a>*@
        @*</nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>*@
<header id="header">
    <div class="inner">
        <a href="~/index" class="logo">Daniel Wilkerson</a>
        @*<nav id="nav">*@
        <nav id="nav">
            <ul>
                <li>
                    <a href="~/">Home</a>
                </li>
                <li>
                    <a href="~/Resume">Resume</a>
                </li>
                <li class="sub-nav">
                    <a href="~/Comments">Comments</a>
                    <ul>
                        <li><a href="~/API/Comments">API</a></li>
                        <li><a href="~/API/Comments/daniel">Example</a></li>
                    </ul>
                </li>
                <li>
                    <a href="~/Contact">Contact</a>
                </li>
            </ul>
            <a href="#navPanel" class="close"></a>
        </nav>
        @*<nav id="navPanel2" class="mobile">
            <ul>
                <li>
                    <a href="~/">Home</a>
                </li>
                <li>
                    <a href="~/Resume">Resume</a>
                </li>
                <li class="sub-nav">
                    <a href="~/Comments">Comments</a>
                    <ul>
                        <li><a href="~/API/Comments">API</a></li>
                        <li><a href="~/API/Comments/daniel">Example</a></li>
                    </ul>
                </li>
                <li>
                    <a href="~/Contact">Contact</a>
                </li>
            </ul>
            <a href="#navPanel" class="close"></a>
        </nav>*@
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>
<style>
    nav > ul {
        display: inline-block !important;
    }

     nav > ul > li {
         display: inline-block !important;
         position: relative;
         vertical-align: top;
     }

     nav > ul > li > ul {
         display:  !important;
         padding-left: 0 !important;
         text-align: left;
     }
     nav > ul > li:hover > ul {
         display: block !important;
     }

     nav > ul > li > ul > li {
         display: block !important;
         padding-left: 0;
     }
    /*******shared********/
    nav ul,
    nav ul > li > a,
    nav ul > li > ul,
    nav ul > li > ul > li,
    nav ul > li > ul > li > a,
    #navPanel ul,
    #navPanel ul > li,
    #navPanel ul > li > ul,
    #navPanel ul > li > ul > li {
        padding: 0 !important;
    }
    nav > ul{ float:right;}
    nav ul > li {
        padding: 0 0.75em !important;
    }
    nav > ul > li:last-child {
        padding-right: 0 !important;
    }
    nav > ul > li.sub-nav {
        background: #5385C1;
        /*#539cc1;*/
    }
    nav > ul > li > ul
    {
        background:lightblue;
        margin:0;
        display:none;
    }
    nav > ul > li.sub-nav:hover > ul {
        background: inherit;
        display: block;
    }

    /********************/

    #navPanel > ul > li + li {
        border-top: solid 2px rgba(255, 255, 255, 0.25);
    }
    #navPanel > ul > li > ul > li {
        border-top: solid 1px rgba(255, 255, 255, 0.25);
    }
    #navPanel > ul > li > ul  {
        padding-left: 1em;
    }
    li.sub-nav > ul > li > a {
       /* text-indent: 1em;*/
    }

    #navPanel a {
        color: #d4e0ef;
        font-weight: 600;
        display: block;
        padding: 0.75em 0;
        text-decoration: none;
        font-weight: 300;
        text-align: left;
    }

    #navPanel ul {
        margin: 0 !important;
    }
    
    #navPanel * {
        display: block;
    }
    
    #navPanel > ul {
        padding-left: 0 !important;
    }
</style>