<header id="header">
    <div class="inner">
        <a href="~/index" class="logo">Daniel Wilkerson</a>
        <nav id="nav">
            @*<!--a asp-controller="App" asp-action="Index">Home</a-->
            <!--a asp-controller="App" asp-action="Resume">Resume</a-->
            <!--a asp-controller="App" asp-action="Contact">Contact</a-->*@
            <a href="~/Index">Home</a>
            <a href="~/Resume">Resume</a>
            <a href="~/Comments">Comments</a>
            <a href="~/Contact">Contact</a>
            @*<a href="~/Hobbies">Hobbies</a>*@
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>